/*-----------------------Sidebar--------------------------*/
#tasselPostSubscriberSidebarSmall {
    all: unset;
    cursor: pointer;
}
#tasselPostSubscriberSidebarSmall:focus,
#tasselPostSubscriberSidebarBig:focus {
    border: none !important;
    text-decoration: underline;
}
#tasselPostSubscriberSidebarBubble {
    display: none;
    position: relative;
    top: -10px;
    right: -35px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: #F377B3;
}

#tasselPostSubscriberSidebarBig {
    display: grid;
    grid-template-columns: 26px auto auto;
    align-items: center;
    width: calc(100% - 30px);
    border: none;
}
body.dark-theme #tasselPostSubscriberSidebarBig {
    color: #6F96BC;
}
#tasselPostSubscriberSidebarBig:hover {
    color: #F377B3;
}
body.dark-theme #tasselPostSubscriberSidebarBig:hover {
    color: #CF698F;
}
#tasselPostSubscriberSidebarCounter {
    text-align: right;
}
body.dark-theme #tasselPostSubscriberSidebarCounter {
    color: #CF698F;
}

.tasselPostSubscriberIcon {
    fill: none;
}
.subscribed .tasselPostSubscriberIcon {
    fill: #58b6dd;
}
.subscribed {
    filter: brightness(0) saturate(100%) invert(67%) sepia(96%) saturate(1357%) hue-rotate(288deg) brightness(100%) contrast(103%);
}
body.dark-theme .subscribed {
    filter: brightness(0) saturate(100%) invert(59%) sepia(85%) saturate(375%) hue-rotate(296deg) brightness(80%) contrast(100%);
}
#userBlogPosts .subscribed {
    filter: none;
}


/*-----------------------Modal--------------------------*/
#tasselPostSubscriberModal {
    overflow: hidden;
    max-width: 60vw;
    max-height: 80vh;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border: none;
    border-radius: 6px;
    padding: 0;
    background: none;
    color: #2b2b2b;
}
body.dark-theme #tasselPostSubscriberModal {
    color: #d9dbe0;
}
#tasselPostSubscriberModal::backdrop {
    background-color: #2C405A;
    opacity: 0.95;
}
body.dark-theme #tasselPostSubscriberModal::backdrop {
    background-color: #23282E;
    opacity: 0.95;
}

#tasselPostSubscriberModal div {
    background: #ffffff;
}
body.dark-theme #tasselPostSubscriberModal div {
    background: #1b1d20;
}

#tasselPostSubscriberModalSubHeader {
    border-top: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    padding: .5em 15px .5em 20px;
    font-size: small;
}
body.dark-theme #tasselPostSubscriberModalSubHeader {
    border-color: #3e3e3e;
}
#tasselPostSubscriberModalSubHeader div {
    height: 28px;
    overflow: hidden;
}

#tasselPostSubscriberModalContent {
    overflow: auto;
    max-height: calc(80vh - 104px);
    color: #2b2b2b;
}

body.dark-theme #tasselPostSubscriberModalContent {
    color: #d9dbe0;
}

.tasselPostSubscriberModalEntry {
    margin: 20px;
}

.tasselPostSubscriberModalEntryDataFrame {
    padding-right: 0;
    transition: all .2s;
}

.tasselPostSubscriberModalEntry:hover .tasselPostSubscriberModalEntryDataFrame {
    padding-right: 3em;
}

.tasselPostSubscriberModalEntryData {
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: auto 3em;
    width: 100%;
    min-height: 3em;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 10px;
    background: white;
    transition: all .2s, margin .2s;
}
body.dark-theme .tasselPostSubscriberModalEntryData {
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.tasselPostSubscriberModalEntry:hover .tasselPostSubscriberModalEntryData {
    grid-template-columns: auto 0em;
}

.tasselPostSubscriberModalEntryData p {
    margin-bottom: 0;
    color: #2b2b2b;
}
body.dark-theme .tasselPostSubscriberModalEntryData p {
    color: #d9dbe0;
}

.tasselPostSubscriberModalEntryData div {
    overflow: hidden;
}

.tasselPostSubscriberModalEntryData h5 {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.tasselPostSubscriberModalEntryDataDynamic {
    display: grid;
    padding-left: 10px;
    text-align: center;
    align-items: center;
}

.tasselPostSubscriberModalEntryDataDynamic h5 {
    margin: 0;
}

.tasselPostSubscriberModalEntryBack {
    display: grid;
    grid-template-columns: auto 3em;
    height: 0;
}

.tasselPostSubscriberModalEntryBackRight {
    overflow: hidden;
    display: grid;
    grid-template-rows: 50% 50%;
    width: calc(3em - 10px);
    min-height: 4.5em;
    margin-left: 10px;
}

.tasselPostSubscriberModalEntryBackRight button {
    width: calc(3em - 10px);
    cursor: pointer;
}

.tasselPostSubscriberModalEntry button {
    border: none;
    background: transparent;
}

.tasselPostSubscriberModalEntry button:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(96%) saturate(1357%) hue-rotate(288deg) brightness(100%) contrast(103%);
}
body.dark-theme .tasselPostSubscriberModalEntry button:hover {
    filter: brightness(0) saturate(100%) invert(59%) sepia(85%) saturate(375%) hue-rotate(296deg) brightness(80%) contrast(100%);
}

.vertical-line {
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    padding: 0 .4em;
}


/*-----------------------Settings--------------------------*/
#tasselPostSubscriberColorSelect{
    border: none;
}

#tasselPostSubscriberColorFrame {
    display: inline-block;
    height: min-content;
    border: 1px solid black;
    border-radius: .5em;
}
body.dark-theme #tasselPostSubscriberColorFrame {
    border-color: #3a3e47;
}

#tasselPostSubscriberColor {
    width: 2.4em;
    height: 2.5em;
    margin: 0 0 0 0;
    border: 1px transparent solid;
    border-left: 1px lightgrey solid;
    border-radius: 0 .5em .5em 0;
    vertical-align: bottom;
    background: none;
    font-size: inherit;
}
body.dark-theme #tasselPostSubscriberColor {
    border-left: 1px #3a3e47 solid
}


/*-----------------------Feed--------------------------*/
#tasselPostSubscriberModalSubscribe {
    border: none;
    background: none;
}
#tasselPostSubscriberModalSubscribe:focus {
    border: none !important;
}
#tasselPostSubscriberModalLoading {
    display: none;
}

[id^=tasselPostSubscriberNewComment] {
    height: 0;
    margin: -25px -53px;
    font-weight: bold;
    font-size: 1.5em;
}


/*-----------------------Mobile--------------------------*/
@media(max-width:800px) {
    #tasselPostSubscriberModal {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        border-radius: 0;
    }

    #tasselPostSubscriberModalContent {
        max-height: calc(100vh - 104px);
    }

    [id^=tasselPostSubscriberNewComment] {
        width: max-content;
        height: 1em;
        margin: 3px;
        border-radius: 3px;
        padding: 0.2em;
        background-color: #2C405A;
    }
    body.dark-theme [id^=tasselPostSubscriberNewComment] {
        background-color: #23282E;
    }
}

@media(max-width:550px) {
    #tasselPostSubscriberModalSubHeader div {
        height: 56px;
    }
}

@media(max-width:400px) {
    .tasselPostSubscriberModalEntryData h5 {
        white-space: normal;
    }
}
