.tasselModalSidebarEntry {
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-bottom: .5px lightgrey solid;
  box-shadow: -20px 0px 10px -10px lightgrey inset;
}

.tasselModalSidebarEntry:hover {
  background: lightgrey;
}
