/*general*/
.dygraph-axis-label {
    color: #2b2b2b !important;
}
body.dark-theme .dygraph-axis-label {
    color: #d9dbe0 !important;
}

body.dark-theme hr {
    border-color: rgba(255,255,255,0.1);
}

body:not(.dark-theme) #creditCardForm .info-text {
    color: #757575 !important;
}

/*Tassel*/
#tasselPostChartsFundingLength {
    width: 4em;
    margin: 0.5em;
    border: 1px solid #232b40;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    background-color: white;
}
body.dark-theme #tasselPostChartsFundingLength {
    border: 1px solid #3a3e47;
    background-color: #1B1D20;
    color: #d9dbe0;
    font-variant: none;
}

.tasselModalChart {
    margin: auto;
}
.tasselModalChartLabel {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*post charts*/
#tasselChartPaneBox {
    background-color: #fff;
    width: 650px;
    margin: 0px 20px 20px 0px;
    padding: 20px;
}
body.dark-theme #tasselChartPaneBox {
    background-color: #1B1D20;
}

#tasselNoteChartsTopLine,
#tasselNoteChartsTopLine2 {
    display:flex;
    justify-content:space-around;
    margin-bottom: 1em;
}

#tasselNoteChartsTopLine .tasselButton,
#tasselNoteChartsTopLine2 .tasselButton{
    width:33%;
    margin: 0 .5em;
}

#tasselNoteChartsProgress,
#tasselNoteChartsProgress2 {
    display:none;
    width:100%;
    background-color:#ddd;
    height:38px;
    margin-bottom:1em;
    border-radius: 0.5em;
    overflow:hidden;
}
body.dark-theme #tasselNoteChartsProgress,
body.dark-theme #tasselNoteChartsProgress2 {
    background-color: #23282e;
}

#tasselNoteChartsProgressBar,
#tasselNoteChartsProgressBar2 {
    width:0;
    height: 38px;
    background-color: #007D53;
    text-align: center;
    line-height: 38px;
    color: var(--postHeaderFont);
    transition:width 0.5s ease-out;
    font-size:24px;
}
body.dark-theme #tasselNoteChartsProgressBar,
body.dark-theme #tasselNoteChartsProgressBar2 {
    background-color: #31734e;
}

#timeGraphLabels,
#weekGraphLabels,
#hourGraphLabels,
#sourceGraphLabels {
    text-align: center;
    line-height: 1em;
    margin: 1em;
}

#sourceGraph div div {
    display: grid;
    justify-content: center;
}
#sourceGraph .dygraph-axis-label-x {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*funding charts*/
a.donate-link .sidebar-bottom-num {
    height: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
}
a.donate-link:has(#fundingSidebarGraph.hidden) .sidebar-bottom-num {
    opacity: 1;
}
.donate-link:hover .sidebar-bottom-num {
    opacity: 1;
}

#fundingSidebarGraph {
    margin-top: -11px;
    padding-top: 8px;
    float: right;
    width: 50px;
    height: 21px;
}
#fundingSidebarGraph.hidden {
    display: none;
}
.donate-link:hover #fundingSidebarGraph {
    opacity: 0;
}

#fundingPageGraph {
    margin: 1em auto;
}
#fundingGraphLabels {
    text-align: center;
}
