#tasselTaggingToolsSuggestionBox {
    height: 32px;
    overflow: hidden;
    margin-top: 5px;
    line-height: 32px;
}

#tasselTaggingToolsSuggestionBox button {
    border: 1px solid transparent;
    border-radius: .5em;
    padding: 2px 8px;
    margin: 4px;
    background-color: #ececec;
    color: #2b2b2b;
}
body.dark-theme #tasselTaggingToolsSuggestionBox button {
    background-color: #010102;
    color: #d9dbe0;
}
#tasselTaggingToolsSuggestionBox button:hover {
    background-color: #e8e8e8;
}
body.dark-theme #tasselTaggingToolsSuggestionBox button:hover {
    background-color: #353840;
}

#tasselTaggingToolsSuggestionBox #tasselTaggingToolsCopyTags {
    margin: 4px 0px 4px 4px;
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
}

#tasselTaggingToolsTagText,
#tasselTaggingToolsTagPhoto,
#tasselTaggingToolsTagVideo,
#tasselTaggingToolsTagLink,
#tasselTaggingToolsTagSelfReblog,
#tasselTaggingToolsTagOtherReblog {
    margin: 0;
    padding: 0.5em 0.5em;
    border: 1px solid #232b40;
    border-radius: 0.5em;
    line-height: inherit;
    background-color: transparent;
    color: #232b40;
    font-family: inherit;
    font-size: 1em;
    cursor: inherit;
}

body.dark-theme #tasselTaggingToolsTagText,
body.dark-theme #tasselTaggingToolsTagPhoto,
body.dark-theme #tasselTaggingToolsTagVideo,
body.dark-theme #tasselTaggingToolsTagLink,
body.dark-theme #tasselTaggingToolsTagSelfReblog,
body.dark-theme #tasselTaggingToolsTagOtherReblog {
    border-color: #d9dbe0;
    color: #d9dbe0;
}

#tasselTaggingToolsSettings {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 7em auto;
    gap: 4px 0.5em;
}

#tasselTaggingToolsSettings label {
    margin-top: 9px;
}

#tasselTaggingToolsSaveFrame {
    display: grid;
    justify-content: center;
}
#tasselTaggingToolsSaveFrame div {
    height: 0;
}
#tasselTaggingToolsSaveFrame div div {
    position: relative;
    left: 73px;
    width: 15px;
    height: 30px;
    border-right: 5px solid #449d44;
    border-bottom: 5px solid #449d44;
    transform: rotate(45deg);
}
#tasselTaggingToolsSaveTags {
    z-index: 1;
    transition: opacity .2s;
}
#tasselTaggingToolsSaveTags:focus {
    /*visibility: hidden;*/
    opacity: 0;
}
#tasselTaggingToolsRemoveCount {
    width: 4em;
    margin-left: 0.5em;
}
#tasselTaggingToolsRemoveButton {
    margin-left: 0.5em;
    border: 1px solid #ff7be7;
    border-radius: 2px;
    padding: 3px 0.5em;
    background-color: #232b40;
    color: #fff;
}
#tasselTaggingToolsRemoveButton:hover {
    background-color: #ff7be7;
}
body.dark-theme #tasselTaggingToolsRemoveButton {
    color: #d9dbe0;
    background-color: #23282E;
    border-color: #353840;
}
body.dark-theme #tasselTaggingToolsRemoveButton:hover {
    background-color: #33738d;
}

#tasselTaggingToolsRulesButton {
    margin-left: 0.5em;
    border: 1px solid #232b40;
    border-radius:0.5em;
    background-color: white;
    padding: 0.5em 1em;
    color: #232b40;
}
#tasselTaggingToolsRulesButton:disabled {
    opacity: 0.5;
}
body.dark-theme #tasselTaggingToolsRulesButton {
    border-color: #3a3e47;
    background-color: #1b1d20;
    color: #d9dbe0;
}

#tasselTaggingToolsRulesModal {
    border: none;
    background: none;
}
#tasselTaggingToolsRulesModal::backdrop {
    opacity: 0.95;
    background-color: var(--pageBg);
}

@media(max-width:400px) {
    #tasselTaggingToolsSettings {
        grid-template-columns: auto;
    }
}
