#tasselTaggingToolsSuggestionBox {
	height: 32px;
	overflow: hidden;
	margin-top: 5px;
	line-height: 32px;
}

#tasselTaggingToolsSuggestionBox button {
	border: none;
	border-radius: .5em;
	padding: 2px 8px;
	margin: 4px;
	background-color: var(--tag_bg);
	color: var(--postFontColor);
}

#tasselTaggingToolsSuggestionBox button:hover {
	background-color: #e8e8e8;
}

body.dark-theme #tasselTaggingToolsSuggestionBox button:hover {
	background-color: #353840;
}

#tasselTaggingToolsSuggestionBox #tasselTaggingToolsCopyTags {
	margin: 4px 0px 4px 4px;
	float: right;
	width: 24px;
	height: 24px;
	text-align: center;
}
