.tasselCollapsibleThreadsIcons {
    & svg {
        transition:.2s transform;
    }
    &.toggled svg {
        transform: rotate(180deg);
    }
    &.widenButton {
        grid-area: a-end;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 100%;
        border: none;
        background: none;
    }
}
.comment .body.tasselCollapsibleThreadsChild {
    display: grid;
    gap: 0 10px;
    grid-template-areas: "a b" "c c";
    grid-template-columns: 0 10px auto;
    padding-left: 0;
}

.main.comment .body .display-comment {  /*position overwrite for comment text*/
    grid-area: b-end;
}
.main.comment .body div {   /*default position for all comment content*/
    grid-area: c-end;
}

.child-comment {
    transition: margin-left .2s;
}

.main.comment .collapsed {
    display: none;
}
