/*////////////////// Blacklist View ////////////////////*/
#tasselAdvancedBlacklistView {
    display: grid;
    grid-template-columns: 25% 25% auto auto auto auto 20% 30px;
    grid-gap: 5px;
    padding: 10px;
    background: var(--postBgColor);
}

#tasselAdvancedBlacklistView input[type="checkbox"] {
    width: 1.5em;
    margin: 2px auto;
    transform: none;
    accent-color: var(--pageBg);
}

#tasselAdvancedBlacklistView input[type="text"] {
    width: auto;
}

.tasselAdvancedBlacklistHeader {
    position: sticky;
    top: 50px;
    height: 2em;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background: var(--postBgColor);
    z-index: 1;
}

.tasselAdvancedBlacklistHeader:hover div {
    overflow: visible !important;
}

.tasselAdvancedBlacklistHeaderTitle {
    position: relative;
    height: 10px;
    z-index: 2;
}

.tasselAdvancedBlacklistHeaderTitle div {
    width: 0;
    height: 0;
    margin-left: 50%;
    overflow: hidden;
}

.tasselAdvancedBlacklistHeaderTitle div div {
    width: 200px;
    height: max-content;
    margin-top: 20px;
    margin-left: -100px;
    padding: 5px;
    background: var(--postBgColor);
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    box-shadow: 0 1px 5px 0 grey;
}

.tasselAdvancedBlacklistShadowCover {
    position: absolute;
    bottom: 0;
    width: calc(100% + 5px);
    height: 1em;
    background: var(--postBgColor);
}

.tasselAdvancedBlacklistShadow {
    position: sticky;
    top: 98px;
    height: 0;
}

.tasselAdvancedBlacklistShadow div {
    position: relative;
    width: calc(100% + 5px);
    height: 1em;
    top: -1em;
    z-index: 0;
    box-shadow: 0 10px 5px -10px grey inset;
}

#tasselAdvancedBlacklistSettings {
    padding: 10px;
    border-bottom: 1px solid grey;
    background: var(--postBgColor);
}

#tasselAdvancedBlacklistSettings .btn {
    width: auto;
    margin: 10px 0;
}

#tasselAdvancedBlacklistSettings .btn:hover {
    color: var(--postHeaderFont);
}

#tasselAdvancedBlacklistSettings .inline {
    display: inline;
}

.tasselAdvancedBlacklistAddLine {
    display: grid;
    align-content: center;
}

.tasselAdvancedBlacklistAddLine button {
    display: grid;
    align-content: center;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    padding: 0px 3px 2px 3px;
    border: none;
    border-radius: 100%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    background: var(--pageBg);
}

/*////////////////////////// Blocked Post //////////////////////*/
.tasselAdvancedBlacklistBlockedHeader {
    background: var(--tag_bg);
    padding: 5px 15px;
    line-height: 35px;
}

.tasselAdvancedBlacklistBlockedHeader button {
    float: right;
    width: 4em;
    margin: 6px 0px;
    border: 1px solid var(--postFontColor);
    border-radius: 1.5px;
    background: var(--postBgColor);
}

.tasselAdvancedBlacklistBlockedHeader div {
    width: calc(100% - 4em - 10px);
    margin: 6px 0;
    line-height: 1.4em;
}
