:root {
  --pageBg: #2c405a;
  --postBorderColor: #2c405a;
  --postBgColor: #fff;
  --postFontColor: #2b2b2b;
  --postHeaderFooter: #232b40;
  --postHeaderFont: #fff;
  --linkColor: #58b6dd;
  --iconColor: "brightness(0) saturate(100%) invert(65%) sepia(86%) saturate(377%) hue-rotate(166deg) brightness(87%) contrast(98%)";
  --sidebarBgColor: #181d2b;
  --sidebarFontColor: #fff;
  --sidebarHeaderFooter: #232b40;
  --tag_bg: #ececec;
  --blockquote_bg: #eee;
}
body {
  background-color: var(--pageBg);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--postFontColor);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  image-rendering: auto;
}
nav {
  position: fixed;
  background-color: var(--sidebarBgColor);
  border-radius: 1.5px;
  font-family: "Nunito", sans-serif;
  margin-top: 19px;
  margin-left: 19px;
  box-sizing: border-box;
  width: 250px;
  color: var(--sidebarFontColor);
  z-index: 7;

  & .sidebar-user {
    padding: 20px;
    background-color: var(--sidebarHeaderFooter);
    font-size: 18px;
    text-align: center;
  }
  & #profile-badges {
    display: block;
    padding: 10px;
    text-align: center;
    margin-top: 10px;

    & .larger {
      max-width: 40px;
      max-height: 40px;
    }
  }
  & .sidebar-expanded {
    padding: 20px;
  }
  & .sidebar-footer {
    padding: 20px;
    background-color: var(--sidebarHeaderFooter);
  }
}
.post-container {
  margin: auto;
  display: table;

  & .side-info {
    margin-top: 21px;
    width: 88px;
    float: left;
  }
  & .avatar {
    & img {
      width: 80px;
      height: 80px;
      padding: 3px;
      background-color: #ffffff;
      box-sizing: content-box;
    }
  }
}
.main {
  background-color: var(--postBgColor);
}
.post {
  margin: 20px auto 10px 95px;
  color: var(--postFontColor);
  width: 652px;
  min-height: 50px;
  line-height: 1.4;
  border: 1px solid var(--postBorderColor);
  word-wrap: break-word;

  & .header {
    background-color: var(--postHeaderFooter);
    min-height: 40px;
    font-size: 14px;
    color: var(--postHeaderFont);
    padding: 10px;
    box-sizing: border-box;

    & .post-perma-link {
      float: right;
      font-size: 20px;
      margin-top: -5px;
      margin-left: 5px;

      & .post-header-icons {
        display: inline;
      }
    }
  }
  & .post-right {
    float: right;

    & .timestamp2 {
      color: var(--postHeaderFont);
      display: inline;
      vertical-align: middle;
      font-size: 12px;
    }
  }
  & .link_post {
    magin: 0 10px 0 3px;

    & img {
      display: inline-block;
      height: 18px;
    }
  }
  & .post-nav {
    background-color: var(--postHeaderFooter);
    min-height: 50px;
  }
}
dir-pagination-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
ul.pagination {
  width: max-content;
  padding: 10px;
  display: flex;
  list-style: none;
  border-radius: 0.25em;

  & > li {
    display: inline;
    line-height: 1.2;

    &:first-child > a {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child > a {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    & a {
      background: var(--postBgColor);
      color: var(--postFontColor);
      border: none;
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.428571429;
      text-decoration: none;
    }
    &.active a {
      text-decoration: underline;
    }
  }
}
#pageJump {
  display: flex;
  background: var(--postBgColor);
  color: var(--postFontColor);
  border: none;
  border-radius: 4px;

  & input {
    background: none;
    border: none;
    padding-left: 10px;
    text-align: center;
    width: 4em;
    font-size: 16px;
  }
  & button {
    background: none;
    border: none;
    padding: 7px 10px;
    font-size: 16px;
    cursor: pointer;
  }
}
.svg-blue {
  filter: brightness(0) saturate(100%) invert(65%) sepia(86%) saturate(377%)
    hue-rotate(166deg) brightness(87%) contrast(98%);
}
